
.webcontainer {
    text-align: center;
    width: 100%;
}





body {
    color: orange;
    font-family: Verdana;
    font-size: 300%;
}

.piechart {
    margin-top: 400px;
    margin-left:300px;
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient( pink 70deg, lightblue 0 235deg, orange 0);
}

body,
.piechart {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40%;
    margin: 2px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50;
}
/*Green*/
.button2 {
    background-color: #008CBA;
}
/*Blue*/
